.error {
    border: 1px solid red;
}

body {
    background-color: darkgray;
    width: 80%;
    margin: 0 auto;
}

#show-cv {
    border: 2px dashed black;
    margin: 60px auto;
    width: 50%;
    text-align: center;
}

#show-cv p {
    font-size: 20px;
}